@model Mvc.ServiceInterface.CustomUserSession

@{
    ViewBag.Title = "Requires Role Page";
}

<h2 style="color:green">Haz Access!</h2>

<p>
    Try <a href="/?redirect=/RequiresRole">logging in</a> as test2/test2 
    who does not have the role this page requires.
</p>