<html>
<head>
    <title>Test TypeScript</title>

    <script src="system.js"></script>
</head>
<body>
    <h3>Greeting</h3>
    <input type="text" id="txtHello" data-keyup="sayHello" placeholder="Name" />
    <div id="helloResult"></div>

    <h3>Greeting {Name}</h3>
    <input type="text" id="txtHello" data-keyup="sayHelloRoute" placeholder="Name" />
    <div id="helloRouteResult"></div>

    <h3>Random Ids</h3>
    <input type="text" id="txtText" data-keyup="generateIds" placeholder="Number of Ids" />
    <div id="randomIdsResult"></div>

    <h3>Hello Types</h3>
    <input type="text" id="txtHelloTypes" data-keyup="helloTypes" placeholder="Name" />
    <div id="helloTypesResult"></div>

    <h3>Raw Text</h3>
    <input type="text" id="txtRawData" data-keyup="rawString" placeholder="string" value="foo" />
    <div id="rawStringResult"></div>

    <h3>Raw Bytes</h3>
    <input type="text" id="txtRawData" data-keyup="rawBytes" placeholder="Base64" value="Zm9v" />
    <div id="rawBytesResult"></div>

    <script src="config.js"></script>
    <script>
        // set our baseURL reference path
        SystemJS.config({
            //baseURL: '/js'
        });

        // loads /js/main.js
        SystemJS.import('Scripts/app.js');
    </script>
</body>
</html>