body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 16px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.error {
    color: red;
}
.success {
    color: green;
}

.validation-summary-errors {
    color: red;
    padding: 10px;
}

.validation-summary-errors ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.autogrid TH {
    text-align: left;
    text-shadow: #fff 1px 1px -1px;
    background: #f1f1f1;
    white-space:nowrap;
    cursor:pointer;
    font-weight: bold;
}
.autogrid TH B {
    display:block;
    float:right;
    margin: 0 0 0 5px;
    width: 0;
    height: 0;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ccc;
    border-bottom: none;
}
.autogrid .asc B {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    border-bottom: none;
}
.autogrid .desc B {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #333;
    border-top: none;
}

.jumbotron li {
    line-height: 30px;
}
